name: Build One ROM Studio

on:
  workflow_dispatch:
  push:
    paths:
      - 'rust/studio/**'
      - '!rust/studio/README.md'
      - '!rust/studio/CHANGELOG.md'

jobs:
  # Builds Windows (x86_64) installer
  # DO NOT RELEASE THIS VERSION
  # This version is not code signed
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: x86_64-pc-windows-msvc
      
      - name: Build Windows installer
        working-directory: rust/studio
        run: .\scripts\build-win.ps1 nosign
      
      - name: Upload Windows artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-x64-installer
          path: rust/studio/dist/*.exe

  # Builds both Intel and ARM Linux debs
  # Deliberately built on an older image to ensure compatibility with older
  # glibc
  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
      
      - name: Build Intel and ARM debs
        working-directory: rust/studio
        run: scripts/build-linux.sh

      - name: Upload Linux artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-debs
          path: rust/studio/dist/*.deb

  # Builds both Intel and Apple silicon dmgs
  # DO NOT RELEASE THESE VERSIONS
  # The dmg file icon cannot be properly set using headless CI and the image is
  # not signed or notarized
  build-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          target: aarch64-apple-darwin
      
      - name: Build Intel and Apple silicon dmgs
        working-directory: rust/studio
        run: scripts/build-mac.sh nosign

      - name: Upload Mac Apple Silicon artifact
        uses: actions/upload-artifact@v4
        with:
          name: mac-dmgs
          path: rust/studio/dist/*.dmg