[target.thumbv6m-none-eabi]
runner = "probe-rs run --no-location --chip RP2040"
#runner = "elf2uf2-rs -d"
#runner = "picotool load -u -v -x -t elf"

[target.thumbv8m.main-none-eabihf]
runner = "probe-rs run --no-location --chip RP235x"
#runner = "elf2uf2-rs -d"
#runner = "picotool load -u -v -x -t elf"

[build]
target = "thumbv6m-none-eabi"          # RP2040
#target = "thumbv8m.main-none-eabihf"  # RP235x

[env]
DEFMT_LOG = "info"