NET "CLK"  LOC = "43"  ;
NET "LED<0>"  LOC = "12"  ;
NET "LED<1>"  LOC = "13"  ;
NET "LED<2>"  LOC = "14"  ;
NET "LED<3>"  LOC = "16"  ;
NET "LED<4>"  LOC = "18"  ;
NET "LED<5>"  LOC = "19"  ;
NET "LED<6>"  LOC = "20"  ;
NET "LED<7>"  LOC = "21"  ;

NET "*"          IOSTANDARD = LVCMOS33;

