NET "clk"  LOC = "43"  ;
NET "leds<0>"  LOC = "12"  ;
NET "leds<1>"  LOC = "13"  ;
NET "leds<2>"  LOC = "14"  ;
NET "leds<3>"  LOC = "16"  ;
NET "leds<4>"  LOC = "18"  ;
NET "leds<5>"  LOC = "19"  ;
NET "leds<6>"  LOC = "20"  ;
NET "leds<7>"  LOC = "21"  ;

NET "*"          IOSTANDARD = LVCMOS33;

