.Subheads {
	FONT-SIZE: x-small; FONT-FAMILY: 'Arial Black', 'Helvetica Bold', Charcoal, Sans-serif, sans-serif
}
.Quotes {
	FONT-SIZE: medium; FONT-STYLE: italic; FONT-FAMILY: 'Times New Roman', Times, Serif, serif
}
.Footnotes {
	FONT-SIZE: x-small; FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
.Titel {
	FONT-SIZE: x-small; FONT-STYLE: italic; FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
.tabellentext {
	FONT-SIZE: 10px; FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif; TEXT-ALIGN: center
}
.Danksagung {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; FONT-FAMILY: 'Times New Roman', Times, Serif, serif; TEXT-ALIGN: center
}
.Caption {
	FONT-SIZE: x-small; FONT-STYLE: italic; FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
.Code {
	COLOR: rgb(0,0,0); FONT-FAMILY: 'Courier New', 'Lucida Console', Courier, Monaco, Monospace, monospace
}
.Untertitel {
	FONT-SIZE: x-small; FONT-FAMILY: 'Arial Black', 'Helvetica Bold', Charcoal, Sans-serif, sans-serif
}
.‹berschrift1 {
	FONT-WEIGHT: bold; FONT-SIZE: x-large
}
.‹berschrift2 {
	FONT-WEIGHT: bold; FONT-SIZE: large
}
.‹berschrift3 {
	FONT-WEIGHT: bold; FONT-SIZE: medium
}
.‹berschrift4 {
	FONT-WEIGHT: bold
}
.Credits {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; FONT-FAMILY: 'Times New Roman', Times, Serif, serif; TEXT-ALIGN: center
}
.‹berschrift5 {
	FONT-WEIGHT: bold; FONT-SIZE: x-small
}
.Zitate {
	FONT-SIZE: medium; FONT-STYLE: italic; FONT-FAMILY: 'Times New Roman', Times, Serif, serif
}
.Fuﬂnoten {
	FONT-SIZE: x-small; FONT-FAMILY: Arial,Helvetica,Geneva,Sans-serif,sans-serif
}
.‹berschrift6 {
	FONT-WEIGHT: bold; FONT-SIZE: large
}
.‹berschrift {
	FONT-WEIGHT: bold; FONT-SIZE: x-large
}
.Adresse {
	FONT-STYLE: italic
}
