BODY {
	FONT-SIZE: 10pt; BACKGROUND-IMAGE: none; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
A:active {
	FONT-SIZE: 10pt; COLOR: rgb(0,0,153); FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 10pt; COLOR: rgb(0,0,153); FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif; TEXT-DECORATION: none
}
UL {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif; TEXT-ALIGN: left
}
A:visited {
	FONT-SIZE: 10pt; COLOR: rgb(0,0,153); FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif; TEXT-DECORATION: none
}
.TextObject {
	FONT-SIZE: 12pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
P {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
LI {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif; TEXT-ALIGN: left
}
OL {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif; TEXT-ALIGN: left
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
.TextNavBar {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif; TEXT-DECORATION: none
}
H5 {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
H6 {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif
}
A:hover {
	FONT-SIZE: 10pt; COLOR: rgb(0,102,153); FONT-FAMILY: Verdana,Tahoma,Arial,Helvetica,Sans-serif,sans-serif; TEXT-DECORATION: underline
}
