NET BCK LOC="43" | SCHMITT_TRIGGER;
NET LRCK LOC="41" | SCHMITT_TRIGGER;
NET DATAIN LOC="39" | SCHMITT_TRIGGER;

# output right channel
NET LEOUTR LOC="20";
NET CLKOUTR LOC="21";
NET DATAOUTR LOC="22";


# output left channel
NET LEOUTL LOC="12";
NET CLKOUTL LOC="13";
NET DATAOUTL LOC="14";


NET LED1 LOC="38";

NET "*"          IOSTANDARD = LVCMOS33;
