[Desktop Entry]
Type=Application
Name=One ROM Studio
GenericName=ROM Manager
Comment=Manage One ROM, the most flexible retro ROM replacement
Exec=onerom-studio
Icon=onerom-studio
Terminal=false
Categories=Utility;