NET BCK LOC="43";

NET LRCK LOC="27";
NET DATAIN LOC="38";

# output
NET CLKOUT LOC="29";
NET LEOUT LOC="28";
NET DATAOUTL LOC="37";
NET DATAOUTR LOC="36";


NET "*"          IOSTANDARD = LVCMOS33;


#NET BCK IOSTANDARD="LVCMOS33";
#NET LRCK IOSTANDARD="LVCMOS33";
#NET SO IOSTANDARD="LVCMOS33";
