NET clk_i2s LOC="43"| SCHMITT_TRIGGER;
NET lrclk LOC="41"| SCHMITT_TRIGGER;
NET data_i2s LOC="39"| SCHMITT_TRIGGER;

# output right channel
NET pcm_le_r LOC="20";
NET pcm_clk_r LOC="21";
NET pcm_data_r LOC="22";


# output left channel
NET pcm_le_l LOC="12";
NET pcm_clk_l LOC="13";
NET pcm_data_l LOC="14";


NET status_led LOC="38";

NET "*"          IOSTANDARD = LVCMOS33;
